[submodule "src/main/Roster.Orchard/src/Orchard.Web/Modules/EXPEDIT.Roster/Scripts/vendor/JSON-js"]
	path = src/main/Roster.Orchard/src/Orchard.Web/Modules/EXPEDIT.Roster/Scripts/vendor/JSON-js
	url = https://github.com/douglascrockford/JSON-js.git
